# 서버 설정
server:
    port: 8080

spring:
    datasource:
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://localhost:3306/slisli
        username: root
        password: my1234

    jpa:
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
                show_sql: true
                format_sql: true
        database-platform: org.hibernate.dialect.MySQL8Dialect


security:
    jwt:
        token:
            secret-key: "생성된 secret key를 여기에 넣으세요"
            access-token-expiration: 900000
            #            15분
            refresh-token-expiration: 3600000
#           1시간
exhibition:
    apiKey: f/yYy8svm3t0PGLHgpkhrFhC6SYzwr4ZDpzGe9/6CYxCWCmGcRCh0iAeIArWF6hZHJ8CS/7NMAhWRB/V6Yjl3A==

    mail:
        host: smtp.gmail.com
        port: 587
        username: hyeran092020@gmail.com
        password: nurj gkyg akuo fefr
        properties:
            mail:
                smtp:
                    auth: true
                    timeout: 5000
                    starttls:
                        enable: true
    oauth2:
        client:
            registration:
                naver:
                    client-id: 1feZyTfdWZOHYXyGc9IO
                    client-secret: SnU2SfUHuX
                    scope:
                        - name
                        - email
                    client-name: Naver
                    authorization-grant-type: authorization_code
                    redirect-uri: http://localhost:8080/auth/login

            provider:
                naver:
                    authorization-uri: https://nid.naver.com/oauth2.0/authorize
                    token-uri: https://nid.naver.com/oauth2.0/token
                    user-info-uri: https://openapi.naver.com/v1/nid/me
                    user-name-attribute: response